
<div class="header d-flex">
    <%= link_to image_tag('back_arrow.png', width: "50px", height: "50px", class: "mt-4", style: "position:absolute;"), root_path, data: { 'no-turbolink' => true }, class: "ml-4" %>
</div>
    <h2 class="text-center mx-auto mt-4 mb-1 display-3">Signup</h2>

<div class="container">

    <div class="customForm">
        <%= form_for :user, url: first_token_path, remote: true do |f| %>
            <div class="col-md-8 mx-auto">

                <div class="customNameDiv d-flex">
                    <div class="customInputDiv">
                        <%= f.text_field  :first_name, required: true, class: "customInput" %>
                        <%= f.label :first_name, class: "customLabel" %>
                    </div>

                    <div class="customInputDiv">
                        <%= f.text_field  :last_name, required: true, class: "customInput" %>
                        <%= f.label :last_name, class: "customLabel" %>
                    </div>
                </div>

                <div class="customInputDiv">
                    <%= f.email_field :email, required: true, class: "customInput"  %>
                    <%= f.label :email, class: "customLabel" %>
                </div>

                <div class="customInputDiv">
                    <%= f.password_field :password, required: true, class: "customInput password", minlength: "8" %>
                    <%= f.label :password, class: "customLabel" %>
                </div>

                <div class="customInputDiv">
                    <%= f.password_field :password_confirmation, required: true, class: "customInput password_confirmation" %>
                    <%= f.label :password_confirmation, class: "customLabel" %>
                </div>

                <div class="formSignupDiv mt-4">
                    <%= f.submit 'Signup', class: 'btn btn-primary form-control firstTokenButton' %>
                </div>
            </div>
        <% end %>
    </div>

    <div class="countdown-wrapper">
        <%= image_tag('Olympic-Rings.png', width: '100%', height: '100%', objectFit: 'cover')%>

        <div class="mt-4 mb-2 text-center mx-auto">
            <h1 class="olympic-title text-center mx-auto display-3">2018 Winter Olympics</h1> 
            <h1 class="mb-2 display-3">Countdown</h1>
            <h1>PyeongChang, South Korea</h1>
        </div>

        <div class="clock-div mt-4 pt-4">
            <div class="clock">

            </div>
        </div>

    </div>

</div>
